/* client/src/App.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

li,a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a h1{
  color: black;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* width: 300px; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 400px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.signup{
  margin-top: 10px;
}
.message {
  margin-top: 1rem;
  color: #d9534f;
}

.Home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

nav {
  width: 100%;
  background-color: #007bff;
  padding: 10px 0;
}

.category-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}

.category-list li,p {
  margin: 0;
}

.category-list button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-list button:hover {
  background-color: #0056b3;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.news-item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.news-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.news-item h2 {
  font-size: 1.2rem;
  margin: 0 0 10px;
}

.news-item p {
  font-size: 1rem;
  margin: 0 0 10px;
  flex-grow: 1;
}

.news-item a {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
  align-self: flex-start;
}

.news-item a:hover {
  text-decoration: underline;
}
